.home-banner {
	height: 100px;
	width: 400%;
	background-color: transparent;
	position: absolute;
	margin-bottom: 30px;
	align-items: center;
}

.event-category-links__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	position: absolute;
	bottom: 50%;
}
.home-banner__text {
	padding: 90px 450px;
	font-size: 40px;
	font-weight: 800;
	color: black;
	align-items: center;
	position: absolute;
	bottom: -455%;
}
.player-wrapper {
  padding-top: -8rem;
  align-items: center;
  margin-left: 350px;
  margin-top: -2rem;
  /* position: absolute; */
}


.event-category-links {
	/* color: var(--dark-blue); */
	font-weight: 800;
	margin-left: 1.5rem;

}

.upcoming-events {
position: absolute;
bottom: 3%;
align-items: center;
}