.UserTickets {
	max-width: 960px;
	margin: auto;
}

.UserTickets__ticket-list {
	margin: 0;
	padding: 0;
}

.ticket-card {
	height: 280px;
	background-color: white;
	border-radius: 0.3em;
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
	margin: 25px auto;
	padding: 1em;

	display: grid;
	grid-column-gap: 1em;
}

.ticket-card__map {
	max-width: 260px;
}

.ticket-event-name {
	font-size: 28px;
	margin-right: 20px;
}

.ticket-card__details__actions {
	display: flex;
}

.ticket-card__details__actions .link-button {
	margin-right: 0.5em;
	background-color: white;
}
.link-button:hover{
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
}
.button.button--danger{
	color: white;
}
.button.button--danger:hover{
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
}