
ul {
	list-style-type: none;
	text-decoration: none;
}

i {
	color:white ;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	color: black;
	text-decoration: none;

}
.logo home-banner__image{
	height:10%;
}
.right-nav {
	align-self: flex-start;
	color: black;
	text-decoration: none;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	margin-right: 1.5rem;
	font-size:150;
	border-radius:10px
}
.right-nav a {
	text-decoration: none;
	font-weight: 900;
	color: black;
	/* margin-right: 15px;
	margin-left: 15px;
	margin-top:15px;
	border-radius:10px */
	/* padding: 10px; */
	
}
.right-nav a{
	margin:10px;
	padding: 10px;
  	margin-top: 50px;
	margin-left: 15px;
	font-size:80;
}
.right-nav li:not(:first-of-type) {
	margin-left: 0.5rem;
	position: relative;
	font-size: 40;
}

.profile-button {
	position: relative;
}

.profile-button__trigger {
	border: none;
	padding-left: 0;
	font-size: 10;
	background-color: transparent;
}

.profile-button__dropdown {
	position: absolute;
	z-index: 2;
	background: white;
	box-sizing: content-box;
	right: 0;
	top: 32px;
	border-radius: 3px;
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
	border: 1px solid #d5dce0;
	max-width: calc(100vw - 24px);
	width: max-content;
	padding: 5px 0;
	text-decoration: none;
}

.right-nav .profile-button__dropdown li {
	padding: 6px 22px;
	text-align: left;
	margin: 0;
}

.profile-button__dropdown li .button {
	border: 0;
}
.right-nav a:hover{
	box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
	border-radius:5px
}